html, body{
  margin: 0;
  font-family:'Open Sans', sans-serif;
  height: 100vh;
  font-size: 16px;

  line-height: 1.25;
}




header {
  margin-bottom: 5rem;
  font-family: 'Quattrocento', serif;
}

 header h1 {
   font-family: 'Open Sans', sans-serif;
 }



[role='banner']{
  width:65%;
  margin: auto;
  text-align: center;
}


a {
  color:inherit;
  outline: none;
  border-style: hidden;
  border-width: 1px;
}

a:focus {
  outline: none;
  border-style: hidden;
  border-width: 1px;

}

a:hover {
  background-color:#B378D3;
}

[role='banner'] h1,
[role='banner'] h2 {
  margin: 25px;
  padding-bottom: .25rem;

}

dt {
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Quattrocento', serif;
}

dd {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

dl {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

ul {
  list-style: none;
  text-transform: none;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}



.flex-col {

  padding: 2rem;
  margin: 2rem;

  text-align: center;
  justify-content: center;

}

.price {
  font-family: 'Quattrocento', serif;
}

.nextpage {
  border-style: solid;
  border-color: green;
  border-width: 1px;
  padding:1rem;
  text-align: center;
  color: white;
  background-color: black;
  display:block;

}
