html, body {
  margin: 0;
  font-family:'Open Sans', sans-serif;
  height: 100vh;
  font-size: 16px;

  line-height: 1.25;

}



[role='banner']{
  content: '';
  width:70%;
  margin: auto;
  left: 0;
  border-style: hidden;
  border-width: 1px;
  z-index: -1;
  left: 0;

  text-align: center;
}


a {
  color:inherit;

}

[role='banner'] h1,
[role='banner'] h2 {
  margin: 25px;
  padding-bottom: .25rem;

}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-style:hidden;
  border-width: 1px;
  border-color: pink;

}



.flex-col{

  display: flex;
  flex-flow: column;

  padding: 2rem;
  margin: 2rem;

  border-style:hidden;
  border-width: 1px;
  border-color: pink;

  text-align: center;
  justify-content: center;

}



.nextpage {
  border-style: hidden;
  border-width: 1px;
  padding:0.4rem;
  text-align: center;
  color: white;
  background-color: black;

}
