html, body {
  margin: 0;
  font-family:'Open Sans', sans-serif;

}


[role='banner']{
  content: '';
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  left: 0;
  border-style: hidden;
  border-width: 1px;
  z-index: -1;
  left: 0;
  background-color: pink;


}

ul {
  list-style: none;
}

[role='banner'] h1,
[role='banner'] h2 {
  margin: 25px;
  line-height: 1.2;
  padding-bottom: .25rem;

}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-row h1{
  align-self: center;
}

.flex-col{
  border-style:solid;
  border-width: 1px;
  border-color: pink;
  display: flex;
  flex-flow: column;


}

.flex-col h2 {
  font-family:'Open Sans', sans-serif;

}

.nextpage {
  border-style: hidden;
  border-width: 1px;
  padding:0.5rem;
  text-align: center;

  color: white;
  background-color: black;

}
